<% provide(:title, 'What help do you need?')%>  
<div>
	<h4>What help do you need?</h4>	
	<%= link_to 'Add Workflow', new_workflow_path, class: "btn btn-small btn-primary" %>
	<ul>
		<% @workflows.each do |wf| %>
			<li><%= if !wf.start_state_id.nil?
						link_to wf.description,  workflow_state_path(wf, wf.start_state_id) 
					else
						wf.description
					end 
				%>
		<%= link_to 'Show Workflow', workflow_path(wf), class: "btn btn-small btn-primary" %>
			</li>
		<% end %>
	</ul>
</div>
