<% provide(:title, 'What help do you need?')%>  
<div id="wf_index">
	<h4>What help do you need?</h4>	
	<%= link_to 'Add Workflow', new_workflow_path, class: "btn btn-small btn-primary" if signed_in? %>
	<ul class="wf_list">
		<% @workflows.each do |wf| %>
			<li class="wf_list_item"><%= if !wf.start_state_id.nil?
						link_to wf.description,  workflow_state_path(wf, wf.start_state_id) 
					else
						wf.description
					end 
				%>
		<%= image_tag "" %>
		<%= link_to 'Show Workflow', workflow_path(wf), class: "btn btn-small btn-primary" if signed_in? %>
			</li>
		<% end %>
	</ul>
</div>
