<div id="welcome_hero"></div>
<div id="welcome_content">
	<div id="welcome_logo_large"><img src="/assets/logo-large.png"/></div>
	<div id="welcome_logo_medium"><img src="/assets/logo-medium.png"/></div>
	<div id="welcome_desc">
		<div class="welcome_header">A place for people who need hope and people who give hope</div> 
		<div class="welcome_subheader">Find benefits you can apply for in New York City</div> 
		<%= link_to "Let's do it!", workflows_path, class: "btn btn-large btn-primary"%>
		<div class="welcome_text">
			<h4>Friendly</h4>
			<div>We are not just another web site. We are a community of people who had been there, and done exactly that.</div>
		</div>
		<div class="welcome_text">
			<h4>Simple</h4>
			<div>Everything is easy to read. Learn how to apply Medicaid or a GED and more in NYC in easy-to-follow steps.</div>
		</div>
		<div class="welcome_text">
			<h4>Mobile</h4>
			<div>If you have a phone, you can use this. Check out what you can apply for, or help those who are applying.</div>
		</div>
	</div>
</div>

<style>
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.navbar {
  display: none;
}

#footer {
	position: absolute;
	left: 55%;
	top: auto;
	bottom: 5%;
	width: 40%;
}
</style>