<div id="welcome_img"></div>
<div id="welcome_desc">
	<div class="welcome_header">Welcome to Helping Hand!</div> 
	<div class="welcome_text">We help you navigate social benefits</div>
</div>
<%= link_to "Let's Go!", workflows_path, class: "btn btn-large btn-primary"%>