<% if !proof.nil? %>

<%case proof.downcase
  when "residency" %>
	Examples of acceptable proof of residency are:
	<ul>
	<li>lease or deed, or if not available, a letter from a landlord on the landlord's letterhead indicating dates of tenancy and rent payments</li>
	<li>postmarked envelope mailed to you at your current address, dated less than six (6) months ago</li>
	<li>prior year's income tax return (parents' or parent's tax return, if listed as dependent)</li>
	<li>homeowner's or renter's insurance policy</li>
	<li>driver's license or automobile registration certificate</li>
	<li>bank statement</li>
	<li>automobile insurance policy</li>
	<li>utility bill</li>
	<li>cell phone bill</li>
	<li>selective service card</li>
	<li>voter registration.</li>
	</ul>
	Find one of the documents and click on "Issue Resolved" to continue.
 <%when "citizenship"%>
Examples of acceptable proof of U.S. citizenship are:
<ul>
	<li>U.S. passport book or card</li>
	<li>Naturalization certificate (DHS Forms N-550 or N-570)</li>
	<li>Certificate of U.S Citizenship (DHS Forms N-560 or N-561)</li>
	<li>NYS Enhanced Driver’s License (EDL)</li>
</ul>
Please provide one.<br/> 
If you do not have one of the documents above, you need to provide one from each of these categories:<br/>
U.S. Citizenship:
<ul>U.S. Birth Certificate
<li>Certification of Birth issued by Department of State (Forms FS-545 or DS-1350)</li>
<li>Report of Birth Abroad (FS-240)</li>
<li>U.S. National ID card (Form I-197 or I-179)</li>
<li>Native American Tribal Document</li>
<li>Religious/School Records</li>
<li>Military record of service showing U.S. place of birth</li>
<li>Final adoption decree</li>
<li>Evidence of qualifying for U.S. citizenship under the </li>
<li>Child Citizenship Act of 2000</li>
</ul>
Proof of Identity:
<ul>
<li>State Driver’s license or ID card with photo</li>
<li>ID card issued by a federal, state, or local government agency</li>
<li>U.S. Military card or draft record or U.S Coast Guard </li>
<li>Merchant Mariner Card</li>
<li>School ID card with a photo</li>
<li>Certificate of Degree of Indian blood or other Native American/Alaska Native </li>
<li>Tribal document with photo</li>
<li>Verified School, Nursery or Daycare records (for children under 16) </li>
<li>Clinic, Doctor or Hospital records (for children under 16)</li>
</ul>
If neither of the 2 proofs you can provide show a birth date, then you must provide one of these as well: 
<ul>
<li>Marriage certificate</li>
<li>NYS Benefit Identification Card</li>
</ul>
For Immigrants, acceptable documentation is: 
<ul>
<li>INS Form I-551 (green card)</li>
<li>INS Form I-94</li>
<li>INS Form I-220B</li>
<li>INS Form I-210 letter</li>
<li>INS Form I-181</li>
</ul>
Other INS documentation or letters from INS that show you are PRUCOL, meaning you are living in the US with the knowledge and allowance of INS.  
One of these should be fine, but please call 1-800-541-2831 to confirm beforehand.  
Info from: 
<a href="http://www.health.ny.gov/health_care/medicaid/publications/docs/adm/04adm-7attb1.pdf" target="blank">here</a>.
 <%else%>

 <%end%>
<% end %>