@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 400px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group.error;
}

#map-canvas { 
  width: 600px; 
  height: 300px;
  border: 1px solid
}

#event_time_zone { 
  width:400px; 
  @extend .controls; 
}

/* Index*/
.lists {
  list-style: none;
  margin: 0;
  li {
    vertical-align: top;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* answer choice */
.answers {
  list-style: none;
  margin: 0;
  li {
    vertical-align: top;
    display: inline;
    padding: 0px 0px;
  }
}

.action_form {
  margin-left: 50px;
  border: 1px solid;
}

.state_form {
  margin-left: 20px;
  border: 1px solid;
}

.state_id {
  width: 150px;
}

.not_done {
  background-color: red;
}


/* Lena Additions */

.navbar {
  margin: 0;
}

.navbar-inner {
  padding: 0;
  min-height: 48px;
  background-image: none;
  background: white;
  border: 0;
}

a#logo.brand {
  width: 284px;
  height: 48px;
  font-size: 0;
  background: url('/assets/logo.png') no-repeat;
}

.navbar .brand {
  padding: 0;
  margin: 0;
}




.container {
  margin: 0;
  padding: 0 20px;
  width: 960px;
}

.navbar .container {
  padding: 0;
}


h3 {
  margin: 0 -1.25% -1.25% -1.25%;
  padding: 1.25%;
  background-color: #0096E1;
  color: #FFFFFF;
  font-size: 28pt;
  line-height: 28pt;
}

h4 {
  font-weight: normal;
  font-size: 18pt;
  line-height: 18pt;
}

h5 {
  font-size: 14pt;
  line-height: 14pt;
}


.wf_list {
  font-size: 0;
  margin: 0;
}

.wf_list_item {
  font-size: 16pt; line-height: 16pt;
  width: 200px;
  margin: 10px;
  background-color: #FF8800;
  color: white;
  display: inline-table;
}

.wf_link {
  position: relative;
  width: 100%;
  height: 100%;
}

.wf_desc {
  color: white;
  padding: 2.5%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wf_list_item img {
  position: relative;
  width: 100%;
}

.wf_list_item.disable {
  background-color: gray;
}



.btn {
  padding: 1.25%;
  margin-bottom: 2.5%;
  font-size: 16pt;
  line-height: 24pt;
  border-radius: 0;
}

.btn-primary {
  background: none;
  background-color: rgb(57, 204, 0);
}


#st_program .row {
  position: relative;
  margin: 0;
}

.program_list {
  margin-top: 55%;
}

#st_program .program_map {
  position: absolute;
  top: 0;
  margin: 0 -2.5%;
}

ul.program_lists {
  margin: 2.5% 0;
  list-style-type: none;
}

li.program_list_item {
  
}

.program_name {
  font-size: 14pt;
  font-weight: bold;
}


#st_final .program_map {
  margin: 2.5% -2.5%
}

input {
  width: 95%;
  height: auto;
  font-size: 16pt;
}

