@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 400px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group.error;
}

#map-canvas { 
  width: 600px; 
  height: 300px;
  border: 1px solid
}

#event_time_zone { 
  width:400px; 
  @extend .controls; 
}

/* Index*/
.lists {
  list-style: none;
  margin: 0;
  li {
    vertical-align: top;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* answer choice */
.answers {
  list-style: none;
  margin: 0;
  li {
    vertical-align: top;
    display: inline;
    padding: 0px 0px;
  }
}

.action_form {
  margin-left: 50px;
  border: 1px solid;
}

.state_form {
  margin-left: 20px;
  border: 1px solid;
}

.state_id {
  width: 150px;
}

.not_done {
  background-color: red;
}


/* Lena Additions */

.navbar {
  margin: 0;
}

.navbar-inner {
  padding: 0;
  min-height: 48px;
  background-image: none;
  background: white;
  border: 0;
}

a#logo.brand {
  width: 284px;
  height: 48px;
  font-size: 0;
  background: url('/assets/logo.png') no-repeat;
}

.navbar .brand {
  padding: 0;
  margin: 0;
}




.container {
  margin: 0;
  padding: 0 10px;
  width: 100%;
}

.navbar .container {
  padding: 0;
}


h4 {
  margin: 0 -10px 10px -10px;
  padding: 10px;
  background-color: #0096E1;
  color: #FFFFFF;
  font-size: 32pt;
  line-height: 32pt;
}

ul.wf_list {
  font-size: 0;
  margin: 0;
}

li.wf_list_item {
  font-size: 16pt; line-height: 16pt;
  width: 45%;
  margin: 1.25%;
  background-color: #FF8800;
  color: white;
  display: inline-table;
}

li.wf_list_item a {
  color: white;
  padding: 2.5%;
  position: absolute;
  z-index: 2;
}

li.wf_list_item img {
  position: relative;
  width: 100%;
}

li.wf_list_item.disable {
  background-color: gray;
}

