/* @import "bootstrap"; */

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
}


/* Lena Additions */

.navbar {
  margin: 0;
}

.navbar-inner {
  padding: 0;
  min-height: 48px;
  background-image: none;
  background: white;
  border: 0;
}

a#logo.brand {
  position: absolute;
  top: 0; left: 2.5%;
  width: 284px;
  height: 48px;
  font-size: 0;
  background: url('/assets/logo.png') no-repeat;
}

.navbar .brand {
  padding: 0;
  margin: 0;
}




.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar .container {
  padding: 0;
}


h3 {
  margin: 0;
  padding: 2.5%;
  background-color: #0096E1;
  color: #FFFFFF;
  font-size: 28pt;
  line-height: 28pt;
}

h4 {
  font-weight: normal;
  font-size: 18pt;
  line-height: 18pt;
}

h5 {
  font-size: 14pt;
  line-height: 14pt;
}


.wf_list {
  font-size: 0;
  margin: 1.25%;
  padding: 0;
}

.wf_list_item {
  font-size: 16pt; line-height: 0;
  width: 47.5%;
  margin: 1.25%;
  background-color: #FF8800;
  color: white;
  display: inline-table;
  position: relative;
}

.wf_link {
  position: relative;
  width: 100%;
  height: 100%;
}

.wf_desc {
  font-size: 16pt; line-height: 16pt;
  color: white;
  padding: 5%;
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: 2;
}

.disable .wf_desc {
  color: #CCC;
}

.wf_list_item img {
  position: relative;
  width: 100%;
}

.wf_list_item.disable {
  background-color: gray;
}

.wf_list_item.disable img {
  opacity: 0.5;
}



.btn {
  padding: 1.25%;
  margin-bottom: 2.5%;
  font-size: 16pt;
  line-height: 24pt;
  border-radius: 0;
}

.btn-primary {
  background: none;
  background-color: rgb(57, 204, 0);
}


#st_program .row {
  position: relative;
  margin: 0;
}

.program_list {
  margin-top: 55%;
}

#st_program .program_map {
  position: absolute;
  top: 0;
  margin: 0 -2.5%;
}

ul.program_lists {
  margin: 2.5% 0;
  list-style-type: none;
}

li.program_list_item {
  
}

.program_name {
  font-size: 14pt;
  font-weight: bold;
}


#st_final .program_map {
  margin: 2.5% -2.5%
}

input {
  width: 95%;
  height: auto;
  font-size: 16pt;
}

