<div id="all_done">
<div class="all_done_text">All done!
Congratulations! You had complete the application for <div class="all_done_prog"><%= @program.name %></div>
</div>

<%= image_tag "all-done.png", alt: "", class: "img_all_done" %>
<%= link_to "What's next?", root_path, class: "btn btn-medium btn-primary" %>
</div>